.chat-section {
	background-color: rgb(56, 56, 56);
	height: 100vh;
}

.close-btn {
	color: white !important;
	position: absolute !important;
	z-index: 1;
}


#player {
	width: 75%;
	height: 85%;
}

#other {
	width: 640px;
	height: 480px;
}