.form-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
	.form-container {
		height: calc(100vh - 56px);
	}
}



.form-div {
	background-color: #f8f9fa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 50%;
	height: 70vh;

	border-radius: 5px;
}

@media screen and (max-width: 550px) {
	.form-div {
		width: 80%;
	}
}
