@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
	.form-container {
		height: calc(100vh - 56px);
	}
}



.form-div {
	background-color: #f8f9fa;
	width: 50%;
	height: 70vh;

	border-radius: 5px;
	display: flex;
	flex-direction: column;

	padding: 0 3%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

@media screen and (max-width: 550px) {
	.form-div {
		width: 80%;
	}
}

.form-head {
	font-family: 'Paytone One', sans-serif !important;
	font-size: 3rem !important;
	margin-top: 3% !important;
	text-align: center;
}

.form-subhead {
	text-align: center !important;
	padding-top: 5%;
	
	color: rgb(116, 116, 116);
	font-size: 0.95rem !important;
}


.join-input {
	width: 70% !important;
}

.join-btn {
	margin-top: 5% !important;
	background-color: blueviolet !important;
	color: white !important;
	font-weight: bold !important;

	width: 100px;
}

.form-footer {
	text-align: center !important;
	padding-bottom: 3%;
	padding-top: 3%;
	
	color: rgb(161, 161, 161);
	font-size: 0.95rem !important;

	border-top: 1px solid rgb(185, 185, 185);
}