body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: rgb(0,173,181);
  background: linear-gradient(45deg, rgba(0,129,135,1) 0%, rgba(0,205,214,1) 58%, rgba(0,244,255,1) 100%); */
  background-image: url("/Large-Triangles.svg");
}

